._intui_el 
	position relative
	display flex
	flex-wrap  nowrap
	height  100%
	width  100%
	
._intui_wp 
	position relative
	overflow-x hidden
	overflow-y hidden
	height 100%
	width 100%

._intui_fixed
	z-index 1
	position fixed
	pointer-events none
	div
		pointer-events all

._intui_scroll_v
	overflow-scrolling  touch
	display initial
	overflow-y scroll
	overflow-x hidden
	
._intui_scroll_h
	overflow-scrolling  touch
	display initial
	overflow-y hidden
	overflow-x scroll

._intui_right
	flex-direction : row

._intui_left
	flex-direction : row-reverse

._intui_down
	flex-direction : column

._intui_up
	flex-direction : column-reverse
	
