

//LOADER
//these get used by dat loader plugin..mo

d1 = 70px
d2 = d1/2

._intui_loader_wrap
	position relative
	height 100%
	width 100%
	background rgb(0,0,0)
	-webkit-filter unquote(' blur(15px) contrast(70)')

._intui_loader_c
	top 50%
	left 50%
	position absolute


._intui_loader
	position absolute
	height 100%
	width 100%
	background rgb(0,0,0)
	overflow hidden

._intui_loader_nub
	transform scale(0)
	margin: 0 auto
	-webkit-backface-visibility hidden
	width d1
	height d1
	margin-left -(d1/2)
	margin-top -(d1/2)
	border-radius 100%
	background rgb(255,255,255)

._intui_loader_tick
	margin-left -(d2/2)
	margin-top -(d2/2)
	width d2
	height d2
	border-radius 100%
	background rgba(0,0,255,1)
	-webkit-filter saturate(0)
	transform: rotate(90deg)