@mixin center {
	align-items : center;
	display   : flex;
	align-content : center;
	justify-content: center;  
}

._intui_modal_section{
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	height: auto;
	width: 100%;
}

._intui_modal_title{
    margin-top: -8px;
    padding-bottom: 2px;
    opacity: 0.5;
    font-size: 14px;
    text-transform: uppercase;
}

._intui_modal_hint{
	width: auto;
	margin: 5px;
	padding: 5px;
	border-left: 1px solid rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
}

._intui_modal{
	pointer-events: all;
	position: relative;
    transform: perspective(500px) rotateX(0deg);
    transition: transform 0.3s cubic-bezier(.29,.3,.08,1);
    height: auto;
    min-width: 200px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}


._intui_modal-hidden{
	transform: perspective(500px) scale(0.7) translateY(-50%) rotateX(90deg);
}

._intui_modal-hidden2{
	transform: scale(0.95);
}








._intui_grid_item_outer{
	position: absolute;
	perspective: 650px;
	box-sizing: border-box;
	backface-visibility: hidden;
}

._intui_grid_item_inner{
	backface-visibility: hidden;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	position: relative;
}



._intui_grid_inner{
	width: 100%;
	height: auto;
	position: relative;
}

._intui_grid{
	transform: translateZ(0);
	overflow: hidden;
	width: 100%;
	height: 100%;
}
._intui_grid_scroll{
	overflow: scroll;
}

._intui_overlay{
	z-index: 90;
	transition: opacity 0.3s ease;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
	left: 0px;
    top: 0px;
    @include center;
}
._intui_overlay-hidden{
	pointer-events: none;
	opacity: 0;
}

._intui_angle{
	position: absolute;
	height: 50px;
	width: 50px;
}

._intui_angle_bottom{
	left: calc(50% - 25px);
	bottom:0;
}
._intui_angle_top{
	left: calc(50% - 25px);
	top:0;
}
._intui_angle_right{
	right: 0%;
	top: calc(50% - 25px);
}
._intui_angle_left{
	left: 0%;
	top: calc(50% - 25px);
}






._intui_slide_fixed{
	flex-shrink:0;
}

._intui_slide_center{
	@include center;
}

._intui_slide_static{
	box-sizing: border-box;
	position: relative;
	flex-direction: row;
	display: flex;
	overflow: hidden;
}

._intui_slide_outer{
	::-webkit-scrollbar {
		display: none;
	}
	position: relative;
	overflow: hidden;
}

._intui_slide_inner{
	display: flex;
	._intui_slide_outer{
		flex-shrink: 0;
	}
	._intui_slide_static{
		flex-shrink: 0;
	}
}

._intui_slide_horizontal{
	flex-direction: row;
}

._intui_slide_vertical{
	flex-direction: column;
}










/* TOOL TIP */
._intui_tooltip_wrapper{
	position: absolute;
	z-index: 999;
	perspective: 300px;
	._intui_tooltip_container{
		backface-visibility: none;
		width: 100%;
		height: 100%;
	}
}






/* FORM */

._intui_form_toggle_slide{
	@include center;
}

._intui_input {
	/* padding: 10px; */
	width: 60%;
	border: none;
	font-size: 14px;
	font-weight: 300;
	background: none;
	outline: none;
	color: #000;
	padding-bottom: 4px;
	border-bottom: #000 1px solid;
}

._intui_input_error {
	background: linear-gradient(45deg,#FF0036,#FF3801);
	color: #fff;
	font-weight: 500;
	@include center;
}


._intui_input_cover{
	@include center;
	font-size: 16px;
}

._intui_input_wrapper{
	@include center;
	::-webkit-input-placeholder{
		text-decoration: none;
		font-weight: 100;
		font-size: 14px;
		color: rgba(255,255,255,0.2);
	}

	::-webkit-inner-spin-button{
		-webkit-appearance: none;
		color: rgba(0,255,255,0.2);
	}
}













._intui_el {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
}

._intui_wp {
	position: relative;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
}




._intui_loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	animation: rotate 1s infinite ease-in-out;
	transition: opacity 1s ease;	
}
._intui_loader_stop{
	// border-radius: 0%;
	animation-iteration-count: 1;
	opacity: 0.2;
}

@keyframes rotate {
  0% {
    transform: perspective(20px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(20px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(20px) rotateX(-180deg) rotateY(-180deg);
  }
}

._intui_right {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

._intui_left {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

._intui_down {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

._intui_up {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}


